.vs-chip {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
  border-radius: 2px;
  display: inline-block;
  color: #ffffff;
  padding: 2px 4px;
  text-align: center;
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
}
