.vs-box {
  display: flex;
}

.vs-box.vs-box-direction-column,
.vs-box.vs-box-direction-down {
  flex-direction: column;
}

.vs-box.vs-box-direction-up {
  flex-direction: column-reverse;
}

.vs-box.vs-box-direction-row,
.vs-box.vs-box-direction-right {
  flex-direction: row;
}

.vs-box.vs-box-direction-left {
  flex-direction: row-reverse;
}

.vs-box.vs-box-border {
  border: 1px solid #c8ccce;
  border-radius: 2px;
}

.vs-box.vs-box-padding-default {
  padding: 8px;
}

.vs-box.vs-box-padding-small {
  padding: 4px;
}

.vs-box.vs-box-padding-large {
  padding: 16px;
}

.vs-box.vs-box-padding-xl {
  padding: 24px;
}

.vs-box.vs-box-padding-2xl {
  padding: 32px;
}

.vs-box.vs-box-padding-3xl {
  padding: 40px;
}

.vs-box.vs-box-padding-4xl {
  padding: 48px;
}

.vs-box.vs-box-padding-bottom-default {
  padding-bottom: 8px;
}

.vs-box.vs-box-padding-bottom-small {
  padding-bottom: 4px;
}

.vs-box.vs-box-padding-bottom-large {
  padding-bottom: 16px;
}

.vs-box.vs-box-padding-bottom-xl {
  padding-bottom: 24px;
}

.vs-box.vs-box-padding-bottom-2xl {
  padding-bottom: 32px;
}

.vs-box.vs-box-padding-bottom-3xl {
  padding-bottom: 40px;
}

.vs-box.vs-box-padding-bottom-4xl {
  padding-bottom: 48px;
}

.vs-box.vs-box-padding-left-default {
  padding-left: 8px;
}

.vs-box.vs-box-padding-left-small {
  padding-left: 4px;
}

.vs-box.vs-box-padding-left-large {
  padding-left: 16px;
}

.vs-box.vs-box-padding-left-xl {
  padding-left: 24px;
}

.vs-box.vs-box-padding-left-2xl {
  padding-left: 32px;
}

.vs-box.vs-box-padding-left-3xl {
  padding-left: 40px;
}

.vs-box.vs-box-padding-left-4xl {
  padding-left: 48px;
}

.vs-box.vs-box-padding-right-default {
  padding-right: 8px;
}

.vs-box.vs-box-padding-right-small {
  padding-right: 4px;
}

.vs-box.vs-box-padding-right-large {
  padding-right: 16px;
}

.vs-box.vs-box-padding-right-xl {
  padding-right: 24px;
}

.vs-box.vs-box-padding-right-2xl {
  padding-right: 32px;
}

.vs-box.vs-box-padding-right-3xl {
  padding-right: 40px;
}

.vs-box.vs-box-padding-right-4xl {
  padding-right: 48px;
}

.vs-box.vs-box-padding-top-default {
  padding-top: 8px;
}

.vs-box.vs-box-padding-top-small {
  padding-top: 4px;
}

.vs-box.vs-box-padding-top-large {
  padding-top: 16px;
}

.vs-box.vs-box-padding-top-xl {
  padding-top: 24px;
}

.vs-box.vs-box-padding-top-2xl {
  padding-top: 32px;
}

.vs-box.vs-box-padding-top-3xl {
  padding-top: 40px;
}

.vs-box.vs-box-padding-top-4xl {
  padding-top: 48px;
}

.vs-box.vs-box-direction-row.vs-box-gap-default > :not(:last-child),
.vs-box.vs-box-direction-right.vs-box-gap-default > :not(:last-child) {
  margin-right: 8px;
}

.vs-box.vs-box-direction-left.vs-box-gap-default > :not(:last-child) {
  margin-left: 8px;
}

.vs-box.vs-box-direction-row.vs-box-gap-small > :not(:last-child),
.vs-box.vs-box-direction-right.vs-box-gap-small > :not(:last-child) {
  margin-right: 4px;
}

.vs-box.vs-box-direction-left.vs-box-gap-small > :not(:last-child) {
  margin-left: 4px;
}

.vs-box.vs-box-direction-row.vs-box-gap-large > :not(:last-child),
.vs-box.vs-box-direction-right.vs-box-gap-large > :not(:last-child) {
  margin-right: 16px;
}

.vs-box.vs-box-direction-left.vs-box-gap-large > :not(:last-child) {
  margin-left: 16px;
}

.vs-box.vs-box-direction-row.vs-box-gap-xl > :not(:last-child),
.vs-box.vs-box-direction-right.vs-box-gap-xl > :not(:last-child) {
  margin-right: 24px;
}

.vs-box.vs-box-direction-left.vs-box-gap-xl > :not(:last-child) {
  margin-left: 24px;
}

.vs-box.vs-box-direction-row.vs-box-gap-2xl > :not(:last-child),
.vs-box.vs-box-direction-right.vs-box-gap-2xl > :not(:last-child) {
  margin-right: 32px;
}

.vs-box.vs-box-direction-left.vs-box-gap-2xl > :not(:last-child) {
  margin-left: 32px;
}

.vs-box.vs-box-direction-row.vs-box-gap-3xl > :not(:last-child),
.vs-box.vs-box-direction-right.vs-box-gap-3xl > :not(:last-child) {
  margin-right: 40px;
}

.vs-box.vs-box-direction-left.vs-box-gap-3xl > :not(:last-child) {
  margin-left: 40px;
}

.vs-box.vs-box-direction-row.vs-box-gap-4xl > :not(:last-child),
.vs-box.vs-box-direction-right.vs-box-gap-4xl > :not(:last-child) {
  margin-right: 48px;
}

.vs-box.vs-box-direction-left.vs-box-gap-4xl > :not(:last-child) {
  margin-left: 48px;
}

.vs-box.vs-box-direction-column.vs-box-gap-default > :not(:last-child),
.vs-box.vs-box-direction-down.vs-box-gap-default > :not(:last-child) {
  margin-bottom: 8px;
}

.vs-box.vs-box-direction-up.vs-box-gap-default > :not(:last-child) {
  margin-top: 8px;
}

.vs-box.vs-box-direction-column.vs-box-gap-small > :not(:last-child),
.vs-box.vs-box-direction-down.vs-box-gap-small > :not(:last-child) {
  margin-bottom: 4px;
}

.vs-box.vs-box-direction-up.vs-box-gap-small > :not(:last-child) {
  margin-top: 4px;
}

.vs-box.vs-box-direction-column.vs-box-gap-large > :not(:last-child),
.vs-box.vs-box-direction-down.vs-box-gap-large > :not(:last-child) {
  margin-bottom: 16px;
}

.vs-box.vs-box-direction-up.vs-box-gap-large > :not(:last-child) {
  margin-top: 16px;
}

.vs-box.vs-box-direction-column.vs-box-gap-xl > :not(:last-child),
.vs-box.vs-box-direction-down.vs-box-gap-xl > :not(:last-child) {
  margin-bottom: 24px;
}

.vs-box.vs-box-direction-up.vs-box-gap-xl > :not(:last-child) {
  margin-top: 24px;
}

.vs-box.vs-box-direction-column.vs-box-gap-2xl > :not(:last-child),
.vs-box.vs-box-direction-down.vs-box-gap-2xl > :not(:last-child) {
  margin-bottom: 32px;
}

.vs-box.vs-box-direction-up.vs-box-gap-2xl > :not(:last-child) {
  margin-top: 32px;
}

.vs-box.vs-box-direction-column.vs-box-gap-3xl > :not(:last-child),
.vs-box.vs-box-direction-down.vs-box-gap-3xl > :not(:last-child) {
  margin-bottom: 40px;
}

.vs-box.vs-box-direction-up.vs-box-gap-3xl > :not(:last-child) {
  margin-top: 40px;
}

.vs-box.vs-box-direction-column.vs-box-gap-4xl > :not(:last-child),
.vs-box.vs-box-direction-down.vs-box-gap-4xl > :not(:last-child) {
  margin-bottom: 48px;
}

.vs-box.vs-box-direction-up.vs-box-gap-4xl > :not(:last-child) {
  margin-top: 48px;
}

.vs-box.vs-box-align-center {
  align-items: center;
}

.vs-box.vs-box-align-start {
  align-items: flex-start;
}

.vs-box.vs-box-align-end {
  align-items: flex-end;
}

.vs-box.vs-box-justify-center {
  justify-content: center;
}

.vs-box.vs-box-justify-start {
  justify-content: flex-start;
}

.vs-box.vs-box-justify-end {
  justify-content: flex-end;
}

.vs-box.vs-box-justify-space-around {
  justify-content: space-around;
}

.vs-box.vs-box-justify-space-between {
  justify-content: space-between;
}

.vs-box.vs-box-justify-space-evenly {
  justify-content: space-evenly;
}

.vs-box.vs-box-grow {
  flex: 1;
}
