:root {
    /* Colors */

    /* Direct Definition - Color Names */
    
    --cj-green: #49c581;
    --dark-grey-blue: #254a5d;
    --greeny-blue: #49c5b1;
    --dark: #151c23;
    --gunmetal: #424c56;
    --black: #333333;
    --warm-grey: #757575;
    --cool-grey: #babbbd;
    --silver: #d8dcdf;
    --nice-blue: #1a6fba;
    --butterscotch: #ffb038;
    --bluey-green: #2bb179;
    --pastel-red: #e25959;
    --white: #ffffff;

    /* Functional Role - Color Names */
  
    --primary-brand-color: var(--cj-green);
    --primary-button-color: var(--cj-green);
  
    --primary-body-text-color: var(--black);
    --heading-color: var(--black);
    --table-heading-active-color: var(--black);
    --svg-fill-on-hover-color: var(--black);
  
    --secondary-body-text-color: var(--warm-grey);
    --table-heading-defualt-color: var(--warm-grey);
    --table-heading-inactive-color: var(--warm-grey);
    --svg-fill-defualt-color: var(--warm-grey);
  
    --text-link-color: var(--nice-blue);
  
    --panel-color: var(--white);
    --container-color: var(--white);
    --primary-light-text-color: var(--white);
  
    --page-background-color: #f6f6f6;
  
    --border-color: var(--silver);
  
    --button-background-disabled-color: #edeef0;
  
    --button-text-disabled-color: #a7a7a7;
  
    --badge-color: #6d7684;
    --indicator-color: #6d7684;
  
    --dialog-window-background-color: #4d5051;
  
    --light-text-color: #bebfc0;
  
    --validation-success-color: var(--bluey-green);
  
    --validation-error-color: var(--pastel-red);

    /* Fonts */
  
    --primary-font-family: "Roboto", "-system-ui", "-apple-system",
      "BlinkMacSystemFont", "Segoe UI", Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }